/* FONTS */
@font-face {
	font-family: geofsFont;
	src: url(fonts/HelveticaNeueLight.woff);
}

/* BASICS */
html {
	overflow: hidden;
}

body {
	overflow: hidden;
	margin: 0;
	background-color: #fefefe;
	color: #151515;
	font-family: geofsFont,sans-serif;
	font-size: 20px;
}

/* DISPLAY AND DESKTOP ONLY (NOT ON MOBILE) */
@media only screen and (min-device-width: 481px) {
  #container {
  	display:flex;
  	height:100vh;
  }
  
  /* LAYOUT DIVS */
  #content {
  	flex:1;
  	height: 100%;
  	position:relative;
  	display:flex;
  	flex-direction:column;
  }
  
  #plakate {
  	flex:none;
  	height:100%;
  	width:40vw!important;
  }
  
  #plakate img {
  	height: 100%;
  }
}

/* MOBILE */
@media only screen and (max-device-width: 480px) {
  #plakate img {
  	width: 100%;
  }
}

#plakate hr {
  margin: 0;
  padding: 0;
  width: 0;
  height: 5px;
  background-color: #8cc63f;
}

/* DISPLAY AND DESKTOP ONLY (NOT ON MOBILE) */
@media only screen and (min-device-width: 481px) {
  /* SUBDIVISIONS OF CONTENT */
  #header {
  	flex:none;
  	margin:5px;
  	display:flex;
  }
  
  #main {
  	flex:1;
  	column-count:2;
  	-moz-column-count:2;
  	-webkit-column-count:2;
  	overflow:hidden;
  }
  
  #footer {
  	flex:none;
  	z-index:10;
  	background-color:#fefefe;
  	display:flex;
  }
}

/* HEADER */
.fslogo {
	flex:none;
	height:100px;
	cursor:pointer;
}

#uhr {
	flex:none;
	font-size: 70px;
}

/* FAHRPLAN */
#fahrplan {
	color: #fefefe;
	background-color: #fefefe;
	overflow: hidden;
	margin: 5px;
	font-size: 0px;
}
  
/* DISPLAY AND DESKTOP ONLY (NOT ON MOBILE) */
@media only screen and (min-device-width: 481px) {
  #fahrplan {
  	flex:1;
  	position:relative;
    display:flex;
  }
  
  #einwaerts,
  #auswaerts {
  	flex:1;
  	margin:5px;
  }
}

#einwaerts span,
#auswaerts span {
	display:inline-block;
	background-image:url('../images/busstop.png');
	background-repeat:no-repeat;
	background-size:contain;
	margin-bottom:5px;
	padding-left:35px!important;
}

#einwaerts span:after {
	content: " (einwärts)";
}

#auswaerts span:after {
	content: " (auswärts)";
}

.borden:before {
	content:"Jetzt";
}

._center:after{
	content:"Leider zu spät! Nachtbusse \A fahren an der Corrensstraße";
	white-space:pre;  /* sonst wird das \A nicht wirklich als Zeilenumbruch dargestellt */
	display:block;
	padding:5px;
	line-height:150%;
	font-style:italic;
	text-align:center;
}

#fahrplan .bgdark,
#fahrplan .bgwith,
#fahrplan ._center:after {
	color: orange;
	background-color: black;
	padding-bottom: 5px;
	font-size: 14px;
}

.bgwith,
.bgdark {
	display:flex;
}

.bgdark {
	padding-top:5px;
}

#fahrplan .haltestellenlable {
	padding: 2px;
	text-align: left;
	color: black;
	font-size: 16px;
}

#fahrplan .line {
	flex:none;
	min-width:30px;
	padding-right:15px;
	text-align:right;
}

#fahrplan .time {
	flex:none;
	padding-right:10px;
}

#fahrplan .direction {
	flex:1;
}

/* NEWS */
p {
	margin:0;
}

/* DISPLAY AND DESKTOP ONLY (NOT ON MOBILE) */
@media only screen and (min-device-width: 481px) {
  .latestNews {
	  width:28vw;
  }
}

.latestNews {
	margin:8px;
	border:3px solid #8cc63f;
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	column-break-inside:avoid;
}

.latestNews:first-child {
	margin-top:0;
}

.newstitle {
	padding: 5px;
	padding-left: 10px;
	margin:0;
	background-color: #8cc63f;
	color: #eeeeee;
	font-size: 16pt;
}

.newstext {
	padding: 20px;
	padding-bottom: 10px;
	color: black;
	font-size: 12pt;
}

/* MENSAPLAN TABLE */
#news #mensa h4 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
}

#news #mensa ul {
	margin: 0;
	padding: 0;
	padding-left: 20px;
}

/* REGENRADAR */
#regenradar {
	margin-right:0px;
}

#regenradar img {
	width:100%;
}

/* PRÄSIDIENST TABLES */
/* DISPLAY AND DESKTOP ONLY (NOT ON MOBILE) */
@media only screen and (min-device-width: 481px) {
  .praesidienst {
    flex:1;
    max-height:30vh;
    margin:0px 10px;
    font-size:8pt;
  }
}

/* MOBILE */
@media only screen and (max-device-width: 480px) {
  .praesidienst {
  	font-size:6pt;
    max-width:100vw;
  }
}

.praesidienst table {
	border: 1px solid grey;
	border-collapse: collapse;
}

.praesidienst th,
.praesidienst td {
	border: 1px solid grey;
}

/* DISPLAY AND DESKTOP ONLY (NOT ON MOBILE) */
@media only screen and (min-device-width: 481px) {
  .praesidienst th,
  .praesidienst td {
  	width:16%;
  }
}

.praesidienst h3 {
	margin:0;
	font-size:12pt;
	font-weight:bold;
}
